# zato create cluster config
cluster_name=servicebus
command=create_cluster
broker_host=redis
broker_port=6379
odb_db_name=servicebus
odb_host=postgres
odb_password=7BB94E6C-046D-47C8-8011-CC38FDB7015D
odb_port=5432
odb_type=postgres
odb_user=servicebus
lb_host=servicebus-lb
lb_port=11223
lb_agent_port=20151
store_config=False
tech_account_name=tech
tech_account_password=D42C45CA-4881-448F-8C16-612988F40AE0
